html {
  font-size: 1.5em;
  margin:5%;
}

.card {
  max-width: 100px;
  height: auto;
}

.score {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
}

.space {
  width: 80px;
}

.card1,
.card2 {
  margin: 3%; 
}
